@import './variables';

.input-container {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  margin-top: 50px;
}

.text-area-container {
  width: 75%;
  height: 75%;
  margin: 0 auto;

  .text-area {
    resize: none;
    border: none;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    color: $primaryColorOffWhite;
    background-color: $primaryColorDark;
    text-align: left;
    padding: 15px;

    border-radius: 0 0 5px 5px;
    letter-spacing: 1.2px;
    font-family: 'Roboto Mono', monospace;
  }
}

textarea {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $primaryColorMediumLight;
  }

  ::-webkit-scrollbar-thumb {
    background: $primaryColorMedium;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $primaryColorDarkest;
    cursor: pointer;
  }
}

.line-count {
  margin-top: 10px;
  color: black;
}

textarea:focus {
  outline: none !important;
  //-webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
  //-moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
  //box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
}
